<br>
<img src="https://pix10.agoda.net/hotelImages/115/1157073/1157073_16062412150044053329.jpg?s=1024x768" height="600">

<p>Welcome to our HOTEL!!</p>
  <p>The Central Hotel is a smaller four-star business hotel, which offers excellent location and full comfort. <br>
  The hotel is only a step away from the main bus and railway stations. The sights of Ljubljana and the old city centre are accessible on foot.<br>
  The hotel has 71 comfortable rooms and 3 suites. If you travel by car you can use the parking garage in close vicinity of the hotel.</p>